<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>create.hds</title>
    {{> link}}
  </head>
  <body>
    {{> navbar}}

    <div class="container">
      <h1>Create todo</h1>
      <div class="jumbotron">
        <form class="" action="/save" method="post">
          <input type="text" name="text" size="40" required="required">
          <input type="submit" name="" value="Create">
        </form>
      </div>
    </div>

  </body>
</html>
