<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>todo_detail.hds</title>
    {{> link}}
  </head>
  <body>
    {{> navbar}}

    <div class="container">
      <h1>Update todo</h1>
      <div class="jumbotron">
        <form class="" action="/todo/{{_id}}/update"  method="post">
          <input type="text" name="text" size="40" value='{{text}}' required="required">
          {{# if completed}}
          <input type="radio" name="state" value="true" checked>completed
          <input type="radio" name="state" value="false">not yet
          {{else}}
          <input type="radio" name="state" value="true">completed
          <input type="radio" name="state" value="false" checked>not yet
          {{/if}}
          <input type="submit" name="" value="Update" onclick="check()">
        </form>
      </div>
    </div>

  </body>
</html>
